.DS_Store
dbases/*
data/*
logs/*
pipeline/.snakemake/*
*.swp
*.pyc
.err
.out
pipeline/logs/*
.Rproj.user
*.html
*log
*cache/
*.rds
*.pdf
*.png
.Rbuildignore
.Rhistory
*.Rproj
*.fasta
*.ai
*.jpg
*.gtf
*.gff3
*.bed
*.bam*
*.xls*
*.tsv*
*.fa
*.saf
*.ppt
*.tif
*.fai
*.bai
*.txt
